In [1]:
import yfinance as yf
import pandas as pd

In [2]:
# https://www.nseindia.com/market-data/securities-available-for-trading

In [8]:
eq_listing = pd.read_csv("./equity_listing.csv")
eq_listing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1874 entries, 0 to 1873
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SYMBOL            1874 non-null   object
 1   NAME OF COMPANY   1874 non-null   object
 2    SERIES           1874 non-null   object
 3    DATE OF LISTING  1874 non-null   object
 4    PAID UP VALUE    1874 non-null   int64
 5    MARKET LOT       1874 non-null   int64
 6    ISIN NUMBER      1874 non-null   object
 7    FACE VALUE       1874 non-null   int64
dtypes: int64(3), object(5)
memory usage: 117.2+ KB

In [ ]:
for name in eq_listing.SYMBOL:
    try:
        data = yf.download(f'{name}.NS')
        data.to_csv(f'./data/{name}.csv') # Data will be stored in data folder
    except Exception as e:
        print(f'{name} ===> {e}')

In [23]:
aapl=yf.Ticker('AAPL')
aapl.actions.tail(5)

                           Dividends  Stock Splits
Date
2022-02-04 00:00:00-05:00       0.22           0.0
2022-05-06 00:00:00-04:00       0.23           0.0
2022-08-05 00:00:00-04:00       0.23           0.0
2022-11-04 00:00:00-04:00       0.23           0.0
2023-02-10 00:00:00-05:00       0.23           0.0

In [25]:
aapl.history(period='7d')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-02-17 00:00:00-05:00,152.350006,153.000000,150.850006,152.550003,59095900,0.0,0.0
2023-02-21 00:00:00-05:00,150.199997,151.300003,148.410004,148.479996,58867200,0.0,0.0
2023-02-22 00:00:00-05:00,148.869995,149.949997,147.160004,148.910004,51011300,0.0,0.0
2023-02-23 00:00:00-05:00,150.089996,150.339996,147.240005,149.399994,48394200,0.0,0.0
2023-02-24 00:00:00-05:00,147.110001,147.190002,145.720001,146.710007,55418200,0.0,0.0
2023-02-27 00:00:00-05:00,147.710007,149.169998,147.449997,147.919998,44998500,0.0,0.0
2023-02-28 00:00:00-05:00,147.050003,149.080002,146.830002,147.410004,50455400,0.0,0.0